**/__pycache__/
**/Files/BOW_index.pkl
**/Files/BM25_index.pkl
**/Files/BM25_in_one_index.pkl
**/Files/BM25_in_one_index.pkl
**/Processed_json/
**/Sampled_docs/
**/Local_pickles/
**/Files/Local_pickles/BM25_in_one_index.pkl

**/Files/Local_pickles/BM25_base.pkl